/* Body & Links */

body {
		background:#000000;
		color:white;
		text-align:center;
		overflow-y: scroll;	/* Removed scroll bar issue */
}

 a:link {
	 color: white;
	 text-decoration: none;   
 }  
 
 a:active {
	   color: red;
	   text-decoration: none;  
 }  
 a:visited {
	 color: white;
	 text-decoration: none;  
 }  
 a:hover {
	   color: wheat;
 }  
 
/* Nav Bar Desktop mode */

#hamnav { 
  width: 100%;
  background: #000;
  
}

/* (B) HORIZONTAL MENU ITEMS */
#hamitems { display: flex; align-items: baseline; }
#hamitems a {
	flex-grow: 1;
	flex-basis: 0;
	padding: 10px;
	color: white;
	text-decoration: none;
	vertical-align: middle;
	font-size:20px;
	font-family: Nexa;
	font-weight: bold;

}
#hamitems a:hover { /*background: rgba(245, 222, 179, 0.9);*/ color: wheat; }

/* (C) HIDE HAMBURGER */
#hamnav label, #hamburger { display: none; }

/* Navbar Mobile mode*/
@media screen and (max-width: 768px){
  /* (A) BREAK INTO VERTICAL MENU */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }
 
  /* (B) SHOW HAMBURGER ICON */
  #hamnav label { 
    display: inline-block; 
    color: white;
    background: wheat;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  /* (C) TOGGLE SHOW/HIDE MENU */
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
}

#shopmain{
	display: inline-block;
	white-space:nowrap;
}
#shopmain2{
	
	display: inline-block;
	white-space:nowrap;
}
	
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 1;
  background-color: rgba(60,60,60,0.6);
  color: white;
  display:flex;
  justify-content: right;
  font-family: Nexa;
  font-size: 15;
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
  margin-bottom:3px;
 
}

/* carousel */

.carouselbar {
	background: red;
	margin-top: 1px;
	display: flex;
	flex-flow:row wrap;
	justify-content: center;
	align-items: baseline;
	height: 250px;
	background: url("https://images.squarespace-cdn.com/content/v1/5a6401f47131a5ca2455b41d/1650850323362-EXOCDA0OXQGM7SCSNVWE/160A8833.jpeg") no-repeat;
	background-blend-mode: unset;
	background-position: center;
	background-size: cover;
}
.carousel-img-item{ 
	
	height: 371x;
	width: 256px;
}

/* Containers */

.mainpage{
	background: black; 
	padding-top: 1px;
	display: flex;
	flex-flow:row wrap;
	justify-content: center;
	margin-bottom: 5px;
	padding-bottom: 50px;
	
}

.mainimage{
	display: flex;
	height: 550px;
	background: url("../images/range2.jpg") no-repeat;
	background-blend-mode: unset;
	background-position: center;
	background-size: cover;
	margin-bottom: 50px;
}

.mainimageclick{
	margin: 0 auto;
	background: #AA6C39; 
	padding-top: 2px;
	display: flex;
	flex: stretch;
	justify-content: center;
	align-items: center;
	margin-bottom: 2px;
	height:13%;
	width: 10%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.shopimage{
	display: flex;
	height: 250px;
	background: url("../images/beer.gif") no-repeat;
	background-blend-mode: unset;
	background-position: 30% 25%;
	background-size: cover;
	
	margin-bottom: 50px;
}

.newsimage{
	display: flex;
	height: 250px;
	background: url("../images/news.jpg") no-repeat;
	background-blend-mode: unset;
	background-position: 30% 25%;
	background-size: cover;
	
	margin-bottom: 50px;
}


.merchimage{
	display: flex;
	height: 250px;
	background: url("../images/shopbanner2.jpg") no-repeat;
	background-blend-mode: unset;
	background-position: 30% 25%;
	background-size: cover;
	margin-bottom: 50px;
}

.aboutimage{
	display: flex;
	height: 250px;
	background: url("../images/hops.png") no-repeat;
	background-blend-mode: unset;
	background-position: 30% 25%;
	background-size: cover;
	margin-bottom: 50px;
}


.left{
	background: black; 
	padding-top: 5px;
	display: flex;
	flex-flow:row wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 2px;
	width: 35%;
}
.leftshop{
	background: black; 
	padding-top: 5px;
	display: flex;
	flex-flow:column;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	width: 35%;
}

.middle{
	
	padding-top: 5px;
	display: flex;
	flex-flow:row wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 2px;
	width: 60%;
}

.right{
	background: black; 
	padding-top: 5px;
	display: flex;
	flex-flow:row wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 2px;
	width: 35%;
}

.rightshop{
	background: black; 
	padding-top: 5px;
	display: flex;
	flex-flow:row wrap;
	justify-content: center;
	align-items: top;
	margin-bottom: 2px;
	width: 35%;
}

.rightfooter{
	
	padding-top: 5px;
	display: flex;
	flex-flow:row wrap;
	justify-content: right;
	align-items: right;
	margin-bottom: 2px;
	width: 20%;
}

.top{
	background: black; 
	padding-top: 5px;
	display: flex;
	flex-flow:row wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 2px;
	width: 100%;
}

/* Writing Style */

h1 {
	font-size:20px;
	font-family: Nexa;
	color:white;
    font-style: normal;
    font-weight: 300;
}

h2 {
	font-size:20px;
	color: wheat;
	font-family: Nexa;
    font-style: normal;
    font-weight: 300;
}

h2 {
	font-size:20px;
	color: wheat;
	font-family: Nexa;
    font-style: normal;
    font-weight: 300;
}

/* Grid */

.grid-container {
	display: grid;
	grid-template-columns: 20% 20% 20%;
	grid-template-rows: 230px 230px 230px;
	align-items: center;
	justify-content: center;
	gap: 80px;
	padding: 1px;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	margin-left: 5%;
	margin-right: 5%;
}

.grid-container > div {
  /*background-color: rgba(255, 255, 255, 0.8);*/
	background-color: black;
	text-align: center;
	margin-bottom: 10px;
	margin-left: 10%;
	font-size: 30px;
}
/* Images */

.shopContainer {
  position: relative;
}

.image {
  display: block;
  width: 80%;
  height: 300px;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.shopContainer:hover .overlay {
  opacity: .8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Scroll */

.storymain{
	display: flex;
	height: 350px;
	background: black;
	background-blend-mode: unset;
	background-position: 30% 25%;
	background-size: cover;
	margin-top: 35px;
	margin-bottom: 50px;
	justify-content: center;
}

section{
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .container{
  margin: 0px;
}
section h1{
  font-size: 3rem;
  margin: 20px;
}
section h2{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container{
   display: flex;
}
section .text-container .text-box{
  margin: 20px;
  padding: 20px;
  background: black;
}
section .text-container .text-box h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px){
  section h1{
    font-size: 2rem;
    text-align: center;
  }
  section .text-container{
    flex-direction: column;
  }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

/*
here begins styles for age verify pop-up
*/
.modal-backdrop {
      opacity: 0.75 !important;
    }
    .modal-body {
      position: relative;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 5rem;
      background:black;
      border: 1px solid white;
      text-align: center;
	  border-radius:5px;
    }
    .btn {
      border-radius: 2px !important;
      color: white;
      border: 2px solid white !important;
      padding: .5rem 3rem !important;
    }

    .btn:hover {
      background: white;
      color:  black;
      border: 2px solid white !important;
      padding: .5rem 3rem !important;
    }
    @media (max-width:768px) {
      .mobile-margin-bottom{
        margin-bottom:.5rem;
      }
      
    }
/*
Here ends style for age verify pop-up
*/

iframe{
	  border-radius:5px;
}
/* James added these styles - End */

/*
Styles added by James - Start
*/
.bodyContainer{
		display:flex;
		flex-direction:row;
		background-color:black;
		justify-content:center;
		color:white;
		width:100%;
		flex-wrap:wrap;
}
 @media screen and (max-width: 769px) {
            .bodyContainer {
                flex-direction: column;
            }
 }
.bodyLeft{
	padding:2% 4% 2% 4%;
	flex-basis:50%;
	margin-bottom:2px;
	text-align: left;
}
.bodyLeftCentre{
	padding:5px 50px 50px 50px;
	flex-basis:50%;
	margin-bottom:2px;
	text-align:right;
}
.bodyRight{
	padding:2% 10% 2% 2%;
	flex-basis:50%;
	margin-bottom:2px;
	text-align: left;
}
.bodyRightCentre{
    padding:5px 50px 50px 50px;
    flex-basis:50%;
    margin-bottom:2px;
    text-align:left;
}

select{
	width:100%;
	padding:2px;
	border-radius:5px;
	margin:2px
}
input{
	width:100%;
	padding:2px;
	border-radius:5px;
	margin:2px
}
#submit{
	width:15%;
	padding-top:5px;
	border-radius:5px;
	text-align:center;
	margin-top:2px;
	height:auto;
}

textarea{
	width:100%;
	padding:2px;
	border-radius:5px;
	margin:2px
}
h3{
	font-size:1.1em;
	color: wheat;
	font-family: Nexa;
    font-style: normal;
    font-weight: 300;
}
h4{
	font-size:1em;
	color: white;
	font-family: Nexa;
    font-style: normal;
    font-weight: 300;
}
